
/* VARIABLES */
$min-height-full: 100%;
$min-height-semi-full: 88%;
$off-white: #fcfcfc;
$h3-font-size: 20px;

/* END VARIABLES */

body, html {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	height: 100%;
	margin: 0;
	background-color: #FEFBF7;
}


/* LINKS */
a {
	color: #788;
	font-size: 13px;
	text-decoration: none;
}

.social-icon {
	display: block;
}


/* END LINKS */

/* FONTS */
h3 {
	font-size: 20px;
}

.flex-title {
    /*font-size: 35px;*/
    font-size: 2.0rem;
    letter-spacing: 3px;
    /*font-weight: 100;*/
    color: #000; /*#fcfcfc;*/
    margin: 0 0 15px;
    line-height: 1.3em;
    font-weight: bold;
    position: relative;
    top: 57px;
    left: -168px;
}

.sub-categories {
	p {
		font-size: 15px;
		color: #788;
		margin: 20px 0;
	}

	h2, h3 {
		font-weight: bold;
		color: #5c8ab4;
	}
}

.footer {
	h3 {
		font-size: $h3-font-size;
	}
	p {
		font-size: 12px;
	}
}

/* END FONTS */

/* BACKGROUND IMAGES */
.home-img-top, .home-img-middle, .home-img-bottom, .home-img-footer {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	/* Styles */
	.home-img-top, .home-img-middle, .home-img-bottom, .home-img-footer {
		background-attachment: initial;
	}

	.flex-title {
		left: 0;
	}
}

.home-img-top {
	background-image: url("../images/parallax/EnergyEffecientHomesHPwES01.png");
	min-height: $min-height-full;
	background-position-y: 10px;
}

.home-img-middle {
	background-image: url("../images/parallax/boulder20071.jpg");
	min-height: $min-height-full;
	background-position-y: 10px;
}

.home-img-bottom {
	background-image: url("../images/parallax/DSC_0328.JPG");
	min-height: $min-height-full;
}

.home-img-footer {
	background-image: url("../images/parallax/credentials.png");
	min-height: 50%;
	background-size: initial;
}

/* END BACKGROUND IMAGES */

/* NAVIGATION */
.navbar {
	margin-bottom: 0;

	.navbar-brand {
		height: auto;
		padding: 0 15px;
	}
}

.navbar-default .navbar-nav > li > a {
	color: #788;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
}
/* END NAVIGATION */


.main {
	height: 100%;
}

.paymain {
	width: 50%;
	margin: 0 auto;
}

.results-container {
	margin-bottom: 20px;
}

.center {
	text-align: center;
}

/* FOOTER */
.footer {
	background-color: #303030;
	color: $off-white;
}

.social-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 43%;
}

/* END FOOTER */

.section-content {
	border-bottom: 1px solid black;
}


/*------- FORM STYLES -----------*/
.payForm {
	background-color: #9F9F68;
}

@import 'formstyles';
@import 'sprites';


.equestrian {
	background-color: #FEFBF7;

	header {
		display: flex;
		flex-direction: column;

		h1 {
			a {
				font-size: 36px;
				color: #333333;
				text-decoration: none;
			}
			
		}

		.header-image {
			text-align: right;
			padding-top: 10px;
		}

		.sub-header {
			font-size: 1.3rem;
		    top: -4px;
		    position: relative;
		    font-weight: bold;
		}
	}

	/*--- nav  ---*/
	nav {
		background-color: #999965;

		.container-fluid {
			width: 100%;
		}
	}

	.nav-container {
		li {
			margin-right: 10px;

			a {
				color: #000;
			}
			a:hover {
				color: #ee4e0b;
			}
		}
	}

	.main-nav {
		margin: 0 0 0 45px;

		ul {
			li:first-of-type {
				margin: 10px 0;
				text-align: left;
    			padding-left: 20px;
			}

			li.nav-header {
				font-weight: bold;
				padding: 5px 0 5px 10px;
				background-color: #f5f6f8;
			}

			li {
				//border-top: 1px solid black;

				a {
					padding: 10px 15px 10px 10px;
				}
			}
		}
	}

	.main-content {
		margin-bottom: 20px;
		text-align: center;

		h2 {
			font-size: 1.9rem;
		}

		img {
			border: double;
		    padding: 10px;
		    background-color: #999965;
		    border-radius: 3px;
		}

		.pedigree-chart {
			display: flex;
    		align-items: center;

    		p {
    			margin: 0 0 10px;
    		}

    		.ped-fourth-gen {
    			p {
    				padding-bottom: 50px;
    			}
    		}

    		.ped-fifth-gen {
    			p{
    				
    			}
    		}

    		.gen-2 {
    			margin-right: 210px
    		}

    		.gen-3 {
    			margin-right: 410px;
    		}

    		.gen-4 {
    			margin-right: 610px;
    			&span::after {
    				border-top: 1px solid black;
    			}
    		}

    		.gen-4::after {
    			border-top: 1px solid black;
    		}

    		.gen-5 {
    			margin-right: 810px;
    		}
		}
	}

	footer {
		background-color: #232323;
		color: #FFF;

		a {
				margin-bottom: 10px;
				color: #FFF;
		}

		a:hover {
				text-decoration: none;
				color: #FFF;
		}

		.footer-links {
			display: flex;
		    justify-content: space-around;
		    width: 95%;
		    margin-bottom: 40px;
		}

		.social-container {
			margin-top: 10%;
			margin-left: -20px;
		}

		.bottom-nav-links {
			h3 {
				text-decoration: underline;
			}

			display: flex;
			flex-direction: column;
		}

		.contact-copyright {
			font-size: 10px;
			text-align: center;
    		border-top: 1px solid black;
    		padding-top: 5px;
    		padding-bottom: 5px;
		}
	}
}


