@media (max-width: 1000px) {
	.social-container {
		max-width: 40%;
	}
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	/* Styles */
	.home-img-top, .home-img-middle, .home-img-bottom, .home-img-footer {
		background-attachment: initial;
	}

	.flex-title {
		left: 0;
	}
}

.navbar {
	@media (max-width: 1000px) {
		&.navbar-fixed-top {
			position: initial;
		}
	}
}

@media (max-width: 1000px) {
	.main {
		margin-top: 30px;
	}
}

.duel-content {
	@media (max-width: 1000px) {
		.flex {
			border-bottom: 2px solid #000;
		    margin-right: 37px;
		}
	}
}

.footer {
	@media (max-width: 1000px) {
		.mission-statment {
			display: none;
		}
	}
}