.bowerrc
bower.json
main.css
Gruntfile.js
.sass-cache/
css/parallax.css
css/parallax.css.map
css/parallax.scss
node_modules/
package.json
parallax.html
public/
temp-html-file.html
css/sprites.css
modx-2.5.7-pl.zip
docs/
composer.json
composer.lock
php-test.php
vendor/
video/
scripts/
modx-2.5.7-pl/assets/css/main.css.map
modx-2.5.7-pl/assets/css/parallax.css.map
modx-2.5.7-pl/assets/css/bootstrap.css
modx-2.5.7-pl/assets/css/parallax.css
images/
modx-2.5.7-pl/assets/components/
modx-2.5.7-pl/config.core.php
modx-2.5.7-pl/connectors/
modx-2.5.7-pl/core/
modx-2.5.7-pl/ht.access
modx-2.5.7-pl/index.php
modx-2.5.7-pl/manager/


